.nav {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    gap: 4rem;
}

.nav-links {
    gap: 2rem;
    display: flex;
}

.nav-link  {
    color: #0B4666;
    list-style: none;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline-start: 0;
    gap: 2rem;
}

.nav-link::after {
    content: "";
    display: block;
    margin: auto;
    height: 2px;
    width: 0px;
    transition: all .8s;
}

.nav-link:hover:after {
    color: #6daadd;
    width: 100%;
    background: #6daadd;
}