.nav {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 1.3rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
    background-color: #869d79e3;
    filter: brightness(100%);
}

.nav-title
{
    display: flex;
    margin-top: 1.2rem;

}

.nav-links {
    display: flex;
    text-decoration: none;
}

.nav-link  {
    color: #fafafa;
    list-style: none;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline-start: 0;
    gap: 4rem;
}

.nav-link::after {
    content: "";
    display: block;
    margin: auto;
    height: 2px;
    width: 0px;
    transition: all .8s;
}

.nav-link:hover:after {
    color: #414448;
    width: 100%;
    background: #ffd900e1;
}


.div-cart
{
    margin-top: 1.2rem;
}
