.page-title {
    text-align: center;
    color: #484747;
}

.cart-table {
    margin: 0 auto;
    width: 80%;
}

.cart-table th {
    background-color: #869d79e3;
    color: #fafafa;
}

.cart-table td {
    padding: 8px;
    text-align: left;
    color: #484747;
}

.cart-table th {
    padding: 8px;
    text-align: left;

}

.cart-total-row {
    font-weight: bold;
}

.button-removeItem {
    background-color: #8a9e31c3;
    border-color: #8a9e31c3;
    color: #fafafa;
    display: block;
}

.cart-clear-button {
    margin: 20px auto;
    display: block;
    background-color: #8a9e31c3;
    border-color: #8a9e31c3;
    border-radius: 5%;
    color: #fafafa;
    font-weight: 800;
    padding: 0.5rem;
    transition: box-shadow 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}


.cart-clear-button:hover {
    /* Sombra cuando se coloca el cursor sobre el botón */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    background-color: #a8a809e3;
    border-color: #a8a809e3;
}

.button-confirm {
    margin: 20px auto;
    display: block;
    background-color: #869d79e3;
    border-color: #869d79e3;
    border-radius: 5%;
    color: #fafafa;
    font-weight: 900;
    padding: 0.8rem;
    transition: box-shadow 0.3s ease;
    box-shadow: 0 2px 5px rgba(205, 203, 203, 0.658);
}

.button-confirm:hover {
    box-shadow: 0 5px 10px rgba(154, 153, 153, 0.56);
    background-color: #a7b865;
    border-color: #a7b865;
}


.error-message {
    text-align: center;
    color: rgb(119, 4, 4);
    font-size: 14px;
    margin-top: 2rem;
}

.Option-emptycart {
    text-align: center;
}