.greeting
{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: #96010c;
    margin-top: 2rem;
    font-size: 5em;
    line-height: 1.5em; /* altura de línea mayor que la altura del texto */
    text-align: center;
    width: 350px;
}