.footer 
{
    color: white;
    background-color: #869d79e3;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-direccion
{
    margin-left:6rem;
    font-size: 1.1rem;
}

.footer-madeBy
{
    margin: auto ;
}

.rs-title
{
    color: #fafafa;
    font-size: 1.1rem;
    margin-right: 0.8rem;
}
.socialmedia-links {
    display: flex;
    align-items: center;
    margin: auto;
}

/* Espacio entre los íconos */
.socialmedia-links a {
    margin-left: 1rem; 
}

.socialmedia-links svg {
    width: 24px;
    height: 24px;
}
  